@import './iconfont.scss';
@import './variables.scss';
@import './sidebar.scss';
@import './eleReset.scss';
@import './animation.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-style: normal;
}

a:focus,
a:active {
	color: transparent;
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

li,
ul,
ol {
	list-style: none;
}